<div class="footer-container">
    <div class="footer-line-container">
      <div class="footer-line"></div>
      <!-- El círculo solo aparece si showBackToTop es true -->
      <div class="back-to-top" *ngIf="showBackToTop" (click)="scrollToTop()">
        <i class="fas fa-chevron-up"></i>
      </div>
    </div>
    <div class="footer-icons">
      <a href="https://twitter.com" target="_blank" aria-label="Twitter">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://instagram.com" target="_blank" aria-label="Instagram">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://facebook.com" target="_blank" aria-label="Facebook">
        <i class="fab fa-facebook"></i>
      </a>
      <a href="https://github.com" target="_blank" aria-label="GitHub">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://whatsapp.com" target="_blank" aria-label="WhatsApp">
        <i class="fab fa-whatsapp"></i>
      </a>
    </div>
  </div>
  