.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
    border-bottom: 3px solid #00a2e8;
  }
  button {
    background: none;
    color: #ffffff;
    border: none;
    font-size: 2rem;
    cursor: pointer;
  }

  h1 {
    color: aliceblue;
  text-align: center;
  margin-bottom: 5%;
  }

  .carousel-cards {
    display: flex; /* Para que las tarjetas se alineen horizontalmente */
    gap: 20px; /* Espacio entre las tarjetas */
  }
  