<div class="text-info-home">
    <h1>¡Welcome to AnimTop!</h1>
    <span>¡Bienvenido a AnimTop! Aquí encontrarás los mejores animes, los más vistos y las últimas novedades <br> del mundo del anime. <br>
        Explora los estrenos más esperados, próximos lanzamientos, y descubre listas por categorías <br>
        para encontrar tu próximo anime favorito. <br>
         ¡Sumérgete en el mundo del anime con nosotros!</span>
</div>
<div class="text-info-home">
    <h1>¿En que nos basamos?</h1>
    <div class="description-info-home">
        <div>
             <h2>Critica:</h2>
             <span>Analizamos opiniones <br>
                de expertos y <br>
                fanáticos para <br>
                ofrecerte una visión <br>
                completa sobre cada anime.</span>
        </div>
        <div>
             <h2>Calificación:</h2>
             <span>Consideramos las puntuaciones <br>
                de diversas plataformas para <br>
                 destacar aquellos con mayor <br>
                  reconocimiento y calidad.</span>
        </div>
        <div>
             <h2>Exito:</h2>
             <span>Evaluamos el impacto y la <br>
                popularidad de cada anime, <br>
                midiendo su éxito en términos <br>
                de audiencia y seguidores.</span>
        </div>
    </div>
    
</div>

<div class="start-text-home">
    <h1>¡Comencemos!</h1>
    <p>Con el primer top :)</p>
</div>

<app-top-mejores-animes></app-top-mejores-animes>