<div class="top-animes-container">
    <h2>Los 5 mejores animes del mundo en los últimos años.</h2>
    
    <div *ngFor="let anime of animesTop" class="anime-card">
      <h3>{{ anime.top }}. {{ anime.name }}</h3>

      <div class="anime-card2"> 
      <div class="anime-content">
        <img [src]="anime.img" alt="{{ anime.name }} image" class="anime-img">
        
      </div>
      <div class="anime-details">
        <h4>Sinopsis</h4>
        <p>{{ anime.sinopsis }}</p>
      </div>
    </div>
    </div>
  </div>
  