<header>
    <nav class="navbar">
      <div class="logo">
        <div>
            <img src="icon.ico" alt="AnimTop Logo" class="logo-img">
            <span><a routerLink="/" >AnimTop</a></span>
        </div>
        
        <ul class="nav-links">
          <li><a routerLink="/vistos">Más vistos</a></li>
          <li><a routerLink="/estrenos">Estrenos</a></li>
          <li><a routerLink="/ver">Dónde ver</a></li>
          <li><a routerLink="/categorias">Categorías</a></li>
        </ul>
      </div>
      
    </nav>
  </header>

  