header {
    background-color: #0f1015; /* Color de fondo del header */
    padding: 0px 10px;
    border-bottom: 3px solid #00a2e8; /* Línea azul debajo del header */
  }
  
  /* Estilo para el logo */
  .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #00a2e8;
    font-size: 25px;
    width: 100%;
  }

  .logo a{
    text-decoration: none;
    color: #00C2FF;
  }

  .logo >div{
    display: flex;
    align-items: center;
    justify-content:center;
  }
  
  .logo-img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
    border-radius: 50%;
  }

  
  .navbar{
    display: flex;
    width: 100%;
  }
  
  /* Estilo para los links del menú */
  .nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 0px 30px;
  }

  
  
  .nav-links li {
    margin-left: 100px;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s ease;
    
  }
  
  .nav-links a:hover {
    color: #00a2e8; /* Color azul al pasar sobre los enlaces */
  }
 