<div class="category">
<h1>Categorías y generos en el <br>
    mundo el anime.</h1>
</div>

<div class="top-animes-container-c">
    
    <div *ngFor="let anime of animesTop" class="anime-card-c">
      <h3>{{ anime.top }}. {{ anime.name }}</h3>

      <div class="anime-card2-v"> 
        <div class="container">
      <div class="anime-content-v">
        <img [src]="anime.img" alt="{{ anime.name }} image" class="anime-img-c">
        
      </div>
      <div class="anime-details-c">
        <h4>Descripción</h4>
        <p>{{ anime.sinopsis }}</p>
      </div>
    </div>
    </div>
    </div>
  </div>